{% load cart %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    
    <div class="container">
       <div class="row">
           <div class="col-lg-4">
               <div class="list-group mt-5">
                   {% for catagory in catagories %}
                   <a href="/?catagory={{catagory.id}}" class="list-group-item list-group-item-action active"> {{catagory.name}} </a>
                   {% endfor %}
               </div>
           </div>
           <div class="col-lg-8">
            <div class="row">
                {% for product in products %}
                <div class="card mx-auto mt-5" style="width: 18rem;">
                    <img class="card-img-top" src=" {{product.image.url}} " alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"> {{product.name}} </h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     {{product | is_in_cart:request.session.cart}}
                      <form action="/" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="product" value='{{product.id}}''>
                        <input href="#" type="submit" class="btn btn-primary" value="Add To Cart"> 
                      </form>

                    </div>
                  </div>
                {% endfor %}
            </div>
           </div>
       </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>